@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800")
::selection {
  background-color:rgb(52,1,9);
  color:rgb(200,201,190);
  
}
body{
  width:100%;
  height:100%;
  background-color:rgb(150,165,160);
  background:linear-gradient(left,rgb(151,162,165)0%,rgb(191,195,192)100%);
font-family:"Open Sans ",sans-serif;
  color:rgb(24,27,36);
  overflow: hidden;
}
.section{
  box-sizing:border-box;
  width:100%
  ;
  height:100%;
  padding:100px ;
}
.article{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate3D(-50%,-50%,0);
  
}
.site-subtitle{
  font-size:24px;
  font-weight:300;
  letter-spacing:20px;
  text-align:center;
  text-transform:uppercase;}
.site-title{
  padding:10px 0;
  margin-bottom:40px;
  font-size:64px;
  font-weight:700;
  letter-spacing:30px;
  text-indent:50px;
  text-align:center;
  text-transform:uppercase;
  white-space:nowrap;
  border:9px solid currentcolor;
}
.site-title .trademark{
  display:inline-block;
  font-size:16px;
  font-weight:200;
  letter-spacing:30px;
  text-indent:0;
  transform:translate3D(-50%,-50%,0)
  
}
